@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

body {
  background-color: #e9e4e4;
  color: #6b7179;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #375577;
}
a:hover {
  color: #cc7f6a;
}
