.current-weather-icon {
  width: 120px;
  height: 120px;
  margin-bottom: -10px;
}

.current-temp-value {
  font-size: 70px;
  font-weight: 200;
}

.current-temp-unit {
  font-size: 50px;
  font-weight: 200;
}

/* DATE */

.current-date-container {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  margin: 20px 0;
}

/* CITY */

.current-city {
  font-size: 30px;
  letter-spacing: 2px;
  overflow-wrap: break-word;
  text-transform: uppercase;
  margin: 20px 0;
}

/* DESCRIPTION */

.current-description {
  color: #375577;
  font-size: 16px;
}

.current-details strong {
  color: #375577;
  font-weight: 400;
}

.temp-switch {
  text-align: center;
  padding: 10px;
}

.header-search-container {
  margin: 0 auto 30px auto;
  width: 350px;
}

.search-form {
  display: flex;
  margin-left: 0px;
}

.form-control {
  background-color: #e9e4e4;
  border: none;
  font-size: 13px;
  padding: 10px;
  border-radius: 10px;
  border-radius: 10px 0px 0px 10px;
  letter-spacing: 1px;
  font-family: "Oswald", sans-serif;
  width: 100%;
}

.search-form-button {
  margin-left: 0px;
  font-size: 13px;
  background-color: #8ca1b7;
  color: #ffffff;
  border: none;
  padding: 6px;
  border-radius: 0px 10px 10px 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 500ms ease;
  font-family: "Oswald", sans-serif;
}

.search-form-button:hover {
  background-color: #b5bdcb;
  color: #375577;
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .current-media-top {
    display: flex;
    justify-content: center;
  }

  .current-weather-icon {
    width: 100px;
    height: 100px;
  }

  .current-date-container,
  .current-city {
    margin: 0;
  }

  .header-search-container {
    margin: 10px auto;
    width: 100%;
  }
}
