.forecast-weather-container {
  margin: 20px auto;
  width: 300px;
}

.forecast-icon {
  padding: 5px 0 5px 10px;
  margin-top: 5px;
  align-content: center;
}

.weather-forecast-day {
  background-color: #f1f1f1;
  display: flex;
  padding: 0px;
  margin: 10px 0;
  border-radius: 10px;
  border-bottom: solid 1px #b6becb;
}

.weather-forecast-date {
  flex: 50%;
  text-align: center;
  align-content: space-around;
  letter-spacing: 1px;
}

.weather-forecast-temperature {
  align-content: space-around;
  text-align: center;
  padding: 10px;
  background-color: #b6becb;
  border-radius: 0 10px 10px 0;
  flex: 35%;
  color: #ffffff;
  font-size: 20px;
  border-right: solid 1px #b6becb;
}

.forecast-temps-max {
  font-size: 20px;
  font-weight: 400;
}
.forecast-temps-min {
  font-size: 16px;
  opacity: 0.6;
  margin-left: 4px;
}

.forecast-unit {
  font-size: 14px;
}

@media screen and (max-width: 660px) {
  .forecast-weather-container {
    width: 100%;
  }

  .weather-forecast-day {
    margin: 10px 0;
  }
}
